#username{
color: black;
}

.settings{
    background-color: var(--ligth-color);
    color: var(--black-color);
  }
  .bx-toggle-left{
    font-size: 3em;
    transition: all 1s;
    cursor: pointer;
    padding: 0 5px;
  }
  .bx-toggle-right{
    font-size: 3em;
    transition: all 1s;
    cursor: pointer;
    padding: 0 5px;
  }
.delform{
  background-color: var(--ligth-color);
}
.delete{
  display: none;
}
.del{
  display: flex;
}

@media screen and (max-width: 700px){
  .set-cont{
    flex-direction: column;
    align-items: center;
  }
  .s-left{
    width: 100%;
  }
  .set-view{
    justify-content: space-between;
  }
  .settings{
    height: 100vh;
  }
}
@media screen and (max-width: 410px) {
  .nav-contents{
    flex-direction: column;
    height: 120px;
    justify-content: center;
  }
  .navbar{
    height: 120px;
  }
  .navlogo img{
    width: 150px;
    margin: 0!important;
  }
  .navlinks:first-child{
    margin: 0;
  }
  .nav-container{
    padding-left: 0;
  }
}