@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Poppins:wght@300&display=swap');

@font-face {
  font-family: Source;
  src: url(./fonts/SourceSansPro-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-weight: 500; */
  font-family: Source;

}


:root {
  --primary-color: #e7eefa;
  --blue-color: #2e4b9c;
  --black-color: #000;
  --dim-black-color: #5f6476;
  --icon-color: #2e4b9c;
  --icon-hover: rgb(12, 170, 243);
  --ligth-color: #edf1f8;
  --dim-light: #e7eefa;
  --warning: rgb(133, 18, 179);
  --other: rgb(24, 20, 20);
}

.dark-theme {
  --primary-color: #08021d;
  --blue-color: #2e4b9c;
  --black-color: rgb(211, 208, 208);
  --dim-black-color: #edf1f8;
  --ligth-color: #0a0520;
  --dim-light: #08021d;
}

body {
  background: var(--primary-color);
}

.main-container {
  display: flex;
  background-color: var(--primary-color);
  top: 0;
}

.bx-x {
  font-size: 1.5em;
  transition: all 0.3s;
}

.bx-x:hover {
  color: var(--warning);
}

.area-up {
  border: 1px solid rgb(12, 12, 12);
  size-adjust: none;
}